
body {
  margin: 0;
  padding: 0;
  background: #333;
  box-sizing: border-box;
  font-size: 16px;
}

.terminal-input {
  font-family: 'Roboto Mono', monospace;
  font-weight: 300;
  font-size: 1rem;
  color: #eee;
  border: 1px solid transparent;
  background-color: #2a2a2a;
  text-shadow: 1px 1px 0px #111;
}

.terminal-input:focus {
  outline: none;
}

.terminal-input.password {
  -webkit-text-security: disc;
  position: relative;
  top: 1px;
}

.terminal {
  font-family: 'Roboto Mono', monospace;
  font-weight: 300;
  font-size: 1rem;
  color: #eee;
  background-color: #2a2a2a;
  overflow-y: scroll;
  overflow-x: auto;
  padding: 5px;
  text-shadow: 1px 1px 0px #111;
  --box-shadow: 1px 1px 1px -1px rgba(0,0,0,0.8), -1px -1px 1px -1px rgba(0,0,0,0.5);
  width: calc(100% - 30px);
  height: calc(50vh - 95px);
  max-height: calc(50vh - 95px);
  margin: 10px;
}

.terminal::-webkit-scrollbar,
.navigator::-webkit-scrollbar {
    width: 10px;
    height: 10px;
    background: #222;
}

.terminal::-webkit-scrollbar-thumb,
.navigator::-webkit-scrollbar-thumb {
  background: #444;
}

.stderr,
.terminal .sudo {
  color: #f87;
  font-weight: 400;
}

.stdout {
  color: #fefffd;
}

.stdout:focus {
  outline: none;
}

.terminal a:link, .terminal a:visited, .terminal a:active {
  color: #ded;
  text-decoration: none;
  border-bottom: 1px dashed #444;
}

.terminal a:link[data-isdir="true"], .terminal a:visited[data-isdir="true"], .terminal a:active[data-isdir="true"]{
  color: #eea;
}

.terminal-autocomplete {
  position: absolute;
  display: none;
  font-family: 'Roboto Mono', monospace;
  font-weight: 300;
  font-size: 1rem;
  color: #eee;
  background-color: #333;
  overflow: hidden;
}

.navigator {
  display: none;
  width: calc(100% - 20px);
  height: calc(50vh - 25px);
  max-height: calc(50vh - 25px);
  margin: 10px;
  position: relative;
  background: #2f2f2f;
  overflow-y: scroll;
  overflow-x: auto;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  font-size: 1.20rem;
  color: #ccc;
  text-shadow: 1px 1px 0px #111;
  --box-shadow: 1px 1px 1px -1px rgba(0,0,0,0.8);
}

.navigator:focus {
  outline: none;
}

.navigator .table {
  width: calc(100% - 2px);
  user-select: none;
  z-index: 190;
  position: relative;
  left: 2px;
  --box-shadow: -1px 0px 1px -1px rgba(0,0,0,0.4);
}

.navigator .cell {
  padding: 8px 8px;
  position: relative;
  min-width: 18px;
  vertical-align: middle;
  transition: all 0.15s ease-in-out;
}

.navigator .row {
  transition: all 0.15s ease-in-out;
}

.navigator .row:hover, .navigator .row.selected {
  background-color: #393939;
  --box-shadow: 0 1px 1px -1px rgba(0,0,0,0.4);
}

.navigator .row.hidden {
  color: #888;
  display: none;
}

.navigator .cell:nth-child(1) {
  width: 10px;
  text-align: center;
}

.navigator .cell:nth-child(3) {
  font-size: 0.9rem;
  width: 120px;
  overflow: hidden;
}

.navigator .cell:nth-child(4) {
  font-size: 0.8rem;
  width: 90px;
  overflow: hidden;
}

.navigator .cell:nth-child(5) {
  font-size: 0.9rem;
  overflow: hidden;
  width: 110px;
}

.navigator .cell time {
  font-size: 0.7rem;
}

.navigator .cell i {
  font-size: 1.25rem;
}

.navigator .navlocation {
  position: sticky;
  left: 0;
  top: 0;
  width: calc(100% - 362px);
  background: #2b2b2b;
  border: none;
  color: #aaa;
  font-family: 'Roboto Mono', monospace;
  font-weight: 300;
  font-size: 1rem;
  padding: 4px;
  z-index: 210;
  --box-shadow: 1px 1px 1px -1px rgba(0,0,0,0.8);
}

.navigator .navlocation:focus {
  outline: none;
}

.navigator .controls {
  width: 360px;
  height: 30px;
  padding-left: 2px;
  position: sticky;
  float: right;
  top: 0;
  right: 0;
  z-index: 205;
  background: #333;
}

.navigator .controls .control {
  width: 26px;
  height: 24px;
  display: inline-block;
  text-align: center;
  margin: 0 5px;
  background: #333;
  cursor: pointer;
  z-index: 250;
  --box-shadow: 1px 1px 1px -1px rgba(0,0,0,0.8);
}

.navigator .controls .control:hover {
  color: #fff;
}

.navigator .controls .control i {
  font-size: 1.25rem;
  line-height: 24px;
}

.navigator .controls .control .fa-chevron-up {
  top: 1px;
}

.navigator .separator {
  width: 100%;
  height: 4px;
  position: sticky;
  top: 24px;
  background: #333;
  z-index: 200;
  --box-shadow: 1px 1px 1px -1px rgba(0,0,0,0.8);
}

.thumbnail {
  width: 18px;
  height: 18px;
  position: relative;
  top: 1px;
  margin: -4px 0;
  overflow: hidden;
  display: inline-block;
}

.thumbnail img {
  height: 18px;
}

.row:hover .thumbnail {
  overflow: visible;
  top: 2px;
  left: 7px;
  position: absolute;
  z-index: 100;
}

.row:hover .thumbnail img {
  width: 200px;
  height: auto;
}

.row:hover .cell:nth-child(2) {
  z-index: 100;
  color: #fff;
}

.table {
  display: table;
}

.row {
  display: table-row;
}

.cell {
  display: table-cell;
}

img[data-loaded="false"] {
  opacity: 0;
}

.fa-folder          { color: #fda; }
.fa-file-audio      { color: #eee; }
.fa-file-pdf        { color: #eee; }
.fa-file-word       { color: #eee; }
.fa-file-excel      { color: #eee; }
.fa-file-powerpoint { color: #eee; }
.fa-file-archive    { color: #eee; }
.fa-file-code       { color: #eee; }
.fa-file-alt        { color: #eee; }

.row:hover .fa-folder          { color: #feb; }
.row:hover .fa-file-audio      { color: #fff; }
.row:hover .fa-file-pdf        { color: #fff; }
.row:hover .fa-file-word       { color: #fff; }
.row:hover .fa-file-excel      { color: #fff; }
.row:hover .fa-file-powerpoint { color: #fff; }
.row:hover .fa-file-archive    { color: #fff; }
.row:hover .fa-file-code       { color: #fff; }
.row:hover .fa-file-alt        { color: #fff; }

.contextmenu {
  position: absolute;
  top: 10px;
  left: 10px;
  list-style: none;
  margin: 0;
  padding: 0;
  background: #333;
  min-width: 160px;
  z-index: 4000;
  transition: height 0.07s ease-out;
  overflow: hidden;
  font-family: 'Roboto Mono', monospace;
  font-weight: 300;
  font-size: 1rem;
  color: #ccc;
  text-shadow: 1px 1px 0px #111;
  box-shadow: 1px 1px 1px -1px rgba(0,0,0,0.8), -1px -1px 1px -1px rgba(0,0,0,0.4);
  /* */
  height: 0;
}

.contextmenu li {
  padding: 4px;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.contextmenu li:hover {
  background-color: #393939;
  --box-shadow: 0 1px 1px -1px rgba(0,0,0,0.4);
}

.contextmenu li i {
  width: 32px;
  text-align: center;
  margin-right: 7px;
  font-size: 1.2rem;
}

.contextmenu li svg {
  width: 24px;
  height: 24px;
  fill: #ddd;
  position: relative;
  top: 2px;
  left: 4px;
  margin: -4px 16px -4px 0;
}

.contextmenu li.separator, #contextmenu li.separator:hover {
  background-color: #333;
  box-shadow: none;
}

.apps {
  width: calc(100% - 20px);
  height: 80px;
}

.apps .icon {
  display: inline-block;
  width: 64px;
  height: 64px; /* */
  margin: 10px 0 10px 10px;
  transform: perspective(1px) translateZ(0);
  text-align: center;
}

.apps .icon.menu {
  color: #fff;
  font-size: 2.5rem;
  text-align: center;
  width: 64px;
  height: 64px;
  transition: transform 0.2s ease-in-out;
}

.apps .icon.menu i {
  position: relative;
  position: relative;
  top: -18px;
  left: 0;
  text-shadow: 1px 1px 2px #000;
}

.apps .icon:not(.menu):hover {
  filter: brightness(120%);
  transition: all 0.07s ease-out;
}

.apps .icon:hover:not(.menu) {
  transform: scale(1.20);
}

.apps .icon.menu:hover {
  color: #ddd;
}

.apps .icon > svg {
  width: 100%;
  height: 100%;
}

.display-wrapper {
  display: none;
  width: calc(100% - 20px);
  height: calc(50vh - 25px);
  max-height: calc(50vh - 25px);
  margin: 10px;
  overflow-x: hidden;
  overflow-y: scroll;
}

.display {
  width: 100%;
}